@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  height: 100%;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-size: x-large;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.transparent-bg {
  background-color: rgba(0, 0, 0, 0.7);
}

.button-secondary {
  @apply bg-secondary rounded-lg px-2 border-border border-2 shadow-lg border-b-4 hover:bg-tertiary text-nowrap;
}
.button-primary {
  @apply bg-primary rounded-lg px-2 border-border border-2 shadow-lg border-b-4 hover:bg-tertiary;
}
.main-div {
  @apply h-screen flex flex-col overflow-hidden max-w-1920 m-auto;
}
